.container {
    box-shadow: 0px 0px 5px;
}

table {
    width: 100%;
}

button {
    margin: 3px;
}

.mat-column-articleTitle {
    width: 10%;
    text-align: center;
}

.mat-column-handlename {
    width: 10%;
    text-align: center;
}

.mat-column-content {
    width: auto;
    text-align: left;
}
.mat-column-createdAt {
    width: 10%;
    text-align: center;
}

.mat-column-buttons {
    width: 15%;
    text-align: right;
}

