<app-menu>
<h1>パスワードの変更</h1>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field appearance="fill" class="formField">
            <mat-label>現在のパスワード</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="formField">
            <mat-label>新しいパスワード</mat-label>
            <input type="password" matInput formControlName="newPassword">
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">設定</button>
    </div>
</form>
</app-menu>